.statement-preview-column {
    width: 25%;
    max-width: 400px;
}

@media (max-width: 992px) {
    .statement-preview-column {
        width: 50%;
    }
}

@media(max-width:767px) {
    .statement-preview-column {
        width: 100%;
    }
}

.statement-preview-title{
    font-family: "BKoodakBold";
    text-align: center;
}

.statement-preview-content{
    font-family: "BNazanin";
}

.statement-preview-date {
    text-align: center;
    color: gray;
}

.statement-preview-buttons {
    width: inherit;
    display: flex;
    justify-content: center;
}