.post-collection {
    padding-left: 20px;
}

.post-collection-list-filter-item {
    font-family: "IranianSans";
}

.post-preview {
    padding-bottom: 10px;
    border-bottom: 1px solid #8c8b8b;
}

.post-preview-image {
    height: 140px;
    width: 245px;
}

@media(max-width:620px) {
    .post-preview-image {
        height: 70px;
        width: 122.5px;
    }
}

.post-preview-body {
    padding-top: 5px;
}

.post-preview-date {
    color: gray;
}

.post-preview-title {
    font-family: "BKoodakBold";
}

.post-preview-content {
    font-family: "BNazanin";
}