.push {
    height: 50px;
}

.footer {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
    height: 50px;
    text-align: center;
    padding-top: 6px;
}

.footer p.pull-right {
	padding-top: 6px;
    font-size: 15px;
}

.footer-icons {
    list-style: none;
}

.footer-icons li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.footer-icons li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.footer-icons li a {
	color: #EDEFF1;
}
.footer-icons li:hover {
	border: 2px solid #1abc9c;
	background: #1abc9c;
}
.footer-icons li a i {
	font-size: 25px;
	margin: 3.5px 0 0 0px;
	color: #EDEFF1 !important;
}