.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 0px;
    font-family: "IranianSans";
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.navbar-header a:hover {
    color: #1abc9c !important;
}

.navbar-header a.active {
    color: white !important;
}