@import "assets/styles/font-awesome.css";
@import "assets/styles/fonts.css";
@import "assets/styles/bootstrap-rtl.css";
@import "assets/styles/custom-btn.css";
@import "assets/styles/common/navbar.css";
@import "assets/styles/common/home.css";
@import "assets/styles/post/post-collection.css";
@import "assets/styles/statement/statement-collection.css";
@import "assets/styles/membership/membership.css";
@import "assets/styles/auth/login.css";
@import "assets/styles/auth/join.css";
@import "assets/styles/auth/profile.css";
@import "assets/styles/common/footer.css";

/* Global Styles */

html,
body,
#root,
.App {
    /*background-color: #1abc9c;*/
    /*color: #ffffff;*/
    font-family: "BBadr";
    height: 100%;
    margin: 0;
}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin: 0 auto -50px;
}

.container.primary {
    padding-top: 80px;
    padding-bottom: 50px;
}

.without-color {
    color: inherit !important;
    text-decoration: none !important;
}

.row.fix {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.modal-dialog {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.modal-content {
    width: 100%;
}

.img-responsive.full-width {
    width: 100%;
}