.btn {
    font-family: "BNazanin";
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background: #1abc9c;
    border-color: #138972;
    color: white;
    text-shadow: none;
}

.btn-default:active, .btn-default.active, .btn-default:disabled, .btn-default.disabled, .btn-default:active:focus {
    background: #138972;
    box-shadow: none;
}

.btn.sharp {
    border-radius: 0;
}

.btn.outline {
    background: none;
}

.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}

.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

.btn-danger.outline {
    border: 1.5px solid #B71427;
    color: #B71427;
    opacity: 0.6;
}

.btn-danger.outline:hover, .btn-danger.outline:focus, .btn-danger.outline:active, .btn-danger.outline.active, .open > .dropdown-toggle.btn-danger {
    opacity: 1;
}

.btn-danger.outline:active, .btn-danger.outline.active {
    background-color: #B71427;
    border-color: #B71427;
    color: white;
    box-shadow: none;
}

.btn-primary.gradient {
    background: -moz-linear-gradient(top, #33a6cc 50%, #0099cc 50%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #33a6cc), color-stop(50%, #0099cc));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #33a6cc 50%, #0099cc 50%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #33a6cc 50%, #0099cc 50%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #33a6cc 50%, #0099cc 50%);
    /* IE10+ */
    background: linear-gradient(to bottom, #33a6cc 50%, #0099cc 50%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc', GradientType=0);
    /* IE6-9 */
}

.btn-primary.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
    background: -moz-linear-gradient(top, #66b2cc 50%, #33a6cc 50%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #66b2cc), color-stop(50%, #33a6cc));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #66b2cc 50%, #33a6cc 50%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #66b2cc 50%, #33a6cc 50%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #66b2cc 50%, #33a6cc 50%);
    /* IE10+ */
    background: linear-gradient(to bottom, #66b2cc 50%, #33a6cc 50%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#66b2cc', endColorstr='#33a6cc', GradientType=0);
    /* IE6-9 */
}

.btn-primary.gradient:active, .btn-primary.gradient.active {
    background: -moz-linear-gradient(top, #267c99 50%, #007299 50%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #267c99), color-stop(50%, #007299));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #267c99 50%, #007299 50%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #267c99 50%, #007299 50%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #267c99 50%, #007299 50%);
    /* IE10+ */
    background: linear-gradient(to bottom, #267c99 50%, #007299 50%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299', GradientType=0);
    /* IE6-9 */
}

.btn-lg.round {
    border-radius: 24px;
}

.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}

.btn-primary.raised:active, .btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}